@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1150px;
    width: 90%;
    margin: auto;
    background-color: white;   
}

@media (min-width: 769px) and (max-width: 1315px) {
    .container{
        max-width: 800px;
    }
}

@media (min-width: 769px) and (max-width: 1096px){
    .container {
        width: 112%;
        max-width: 572px;
        
    }
    }


.navbar{
    box-shadow: 0px 4px 8px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}


.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    
}

.menu-items{
    order: 2;
    display: flex;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.logo{
    order: 1;
    font-size: 1.3rem;
    color: #2D2E32;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 70px;
}

@media (min-width: 769px) and (max-width: 1096px) {
    .logo{
        right: 90px;
    }
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.1rem;
    /* border: 2px solid red; */
    
}


.navbar a{
    color: #444549;
    background-color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    position: relative;
    right: -70px;
    
    
}

.navbar a:hover{
    color: #6674CC;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 63px; 
        
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        /* display: block; */
        /* border: 2px solid red; */
        height: 32px;
        width: 30px;
        top: 20px;
        left: 0px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 21px;
        width: 28px;
        position: absolute;
        top: 22px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
        
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
        width: 80%;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
        width: 70%;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
        
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #444549;
    }

    .logo{
        position: absolute;
        top: 18px;
        right: 15px;
        font-size: 1.25rem;
        cursor: pointer;
        color: #2D2E32;

    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
        width: 100%;
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}