@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');


footer {
  background-color: #2d2e32;
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 769px) and (max-width: 830px) {
  footer {
    /* min-width: 134.6%; */
    min-width: 116.5%;
  }
}

  @media (min-width: 830px) and (max-width: 1096px) {
    footer {
      /* min-width: 134.6%; */
      min-width: 105.5%;
    }
}

  
  footer h3 {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif; 
  }
  
  .footerc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2e32;
  }
  
  @media (max-width: 550px) {
    .footerc {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      text-align: center;
    }
  }
  
  .footerc__socials {
    display: flex;
    gap: 2rem;
  }
  
  .footerc__socials i {
    font-size: 1.5rem;
     color: white;
  }
  
  .footerc__socials i:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
  